<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代办事项</title>


</head>
<body>

<button onclick="showDialog()">新增代办事项</button>
<dialog id="newTodoItem">
    <textarea id="todoText">  </textarea>
    <button onclick="hideDialog()">取消</button>
    <button onclick="addTodo()"> 确定</button>

</dialog>

<ul>
    {% for value in data %}
    {% if value[2]=='done' %}
    <li>
        <del><span onclick="updateStatus({{ value[0] }})">{{ value[1] }}</span></del>
        <button onclick="myFunction({{ value[0] }})"> 删除</button>
    </li>
    {% else %}
    <li><span onclick="updateStatus({{ value[0] }})">{{ value[1] }}</span>
        <button onclick="myFunction({{ value[0] }})">删除</button>
    </li>
        {% endif %}
    {% endfor %}
</ul>
<script>

         function myFunction(index){
            console.log("deleting:", index)
            fetch('http://127.0.0.1:5000/todo/' +index,{method: 'DELETE' })
            .then(
               function(response) {
               console.log(response.text());
               return;
               }

            ).then(
                function(response) {
                    window.location.reload();
                    }

               )
         }
          function showDialog(){
               document.getElementById('newTodoItem').showModal()
          }
          function hideDialog(){
               document.getElementById('newTodoItem').close()
          }
           function addTodo(){
               var text = document.getElementById('todoText').value;
               fetch('http://127.0.0.1:5000/todo',{                     //fetch发送请求
                   headers: {'Content-Type':'application/json' },
                   method: "POST",
                   body: JSON.stringify({text: text})
           })

           document.getElementById('newTodoItem').close();
           window.location.reload()

           }
           function updateStatus(index) {
              fetch('http://127.0.0.1:5000/todo/' + index,{
                   method: "PUT"
           })
           window.location.reload()
       }



</script>

</body>
</html>